# Pin problematic traitlets release -  https://github.com/jupyter/notebook/issues/7048
comet-ml>=3.47.0
geopandas==0.14.3
ipython~=8.10; python_version >= '3.11'
jupyterlab_server>=2.11.1, <2.16.0
jupyterlab~=3.0, <3.6.0
jupyter~=1.0
kedro-telemetry>=0.6.0
kedro~=0.19.8
kedro-datasets~=4.1.0
kedro-viz~=10.0.0
matplotlib~=3.8.3
mlflow>=2.16.2
numpy>=1.26.4
pandas~=2.2.1
plotly==5.24.1
pyarrow~=15.0.0
ruff>=0.6.8
scikit-learn~=1.4.1
streamlit==1.34.0
tqdm>=4.66.5
traitlets<5.10.0
uv>=0.4.17